.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1282&q=80");
  background-size: cover;
  object-fit: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0px;
  font-weight: 700;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  align-items: center;
  appearance: none;
  color: teal;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: Helvetica;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-right: 3%;
  padding-left: 3%;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  justify-content: center;
  float: right;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  color: black;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: teal;
}

.registerLoginButton {
  align-items: center;
  justify-content: center;
  appearance: none;
  color: teal;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: Helvetica;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin: 10px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  float: right;
  color: white;
  background-color: lightcoral;
}

.registerButton:focus,
.registerLoginButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.registerButton:hover,
.registerLoginButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.registerButton:active,
.registerLoginButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.formContainer {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 8%;
  background-color: rgba(247, 240, 231, 0.871);
}